force-app/main/default/flows/Cargar_Materias.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asignacion_materias_en_espera</name>
        <label>Asignacion materias en espera</label>
        <locationX>314</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>MateriasEsperaEstudianteFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MateriasEnEspera</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cargar_Materias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Grupos_Duplicados</name>
        <label>Asignar Grupos Duplicados</label>
        <locationX>666</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>EliminarDuplicadosGrupos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Materias_Disponibles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Grupos_Estudiante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignacion a la variable conteniendo las listas de espera del estudiante las listas de espera con las que cuenta este</description>
        <name>Asignar_Listas_Espera_Estudiante</name>
        <label>Asignar Listas Espera Estudiante</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>ListasEsperaEstudiante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Listas_Estudiante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Listas_Espera_Actuales_Estudiante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_materias_final</name>
        <label>Asignar materias final</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>MateriasEstudianteFiltradoFinalFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MateriasDisponibles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Listas_Estudiante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_materias_finales</name>
        <label>Asignar materias finales</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>MateriasDisponibles</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>EliminarDuplicadosGrupos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MateriasEstudianteFiltradoFinalFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MateriasDisponibles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Listas_Estudiante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Materias_Repetidas_Listas</name>
        <label>Asignar Materias Repetidas Listas</label>
        <locationX>666</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>EliminarMateriasRepetidasListas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_materias_en_en_espera</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_listas_estudiante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Grupos_Estudiante</name>
        <label>Assign Grupos Estudiante</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>gruposEstudianteVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Grupos_Estudiante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retrieve_multiple_Materias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMultipleMaterias</name>
        <label>AssignMultipleMaterias</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>MultipleMaterias</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retrieve_multiple_Materias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MateriasDisponibles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aumentar_Contador</name>
        <label>Aumentar Contador</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>contadorGruposInicialVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_contar_grupos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Aumenta el contador de las listas con las que cuenta el estudiante</description>
        <name>Aumentar_contador_listas</name>
        <label>Aumentar contador listas</label>
        <locationX>270</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>ContadorListas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Listas_Espera_Actuales_Estudiante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aumento_contador_grupos</name>
        <label>Aumento contador grupos</label>
        <locationX>270</locationX>
        <locationY>3890</locationY>
        <assignmentItems>
            <assignToReference>countGruposCargados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_contador_materias_cupo_seleccionadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aumento_contador_listas</name>
        <label>Aumento contador listas</label>
        <locationX>270</locationX>
        <locationY>4898</locationY>
        <assignmentItems>
            <assignToReference>countGruposCargados</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_contador_espera_materias_seleccionadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Listas_Espera_Finales</name>
        <label>Listas Espera Finales</label>
        <locationX>50</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>MateriasEnEspera</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>EliminarMateriasRepetidasListas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MateriasEsperaEstudianteFinal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MateriasEnEspera</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cargar_Materias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se realiza la asignación a la variable de las materias seleccionadas por el estudiante a las cuales se unirá al grupo</description>
        <name>MateriasCupoSeleccionadas</name>
        <label>MateriasCupoSeleccionadas</label>
        <locationX>182</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>MateriasSeleccionadasTablaCupo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MateriasConDisponibilidad.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_contador_materias_cupo_seleccionadas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se realiza la asignación a la variable de las materias seleccionadas por el estudiante a las cuales se unirá a la lista de espera</description>
        <name>MateriasEsperaSeleccionadas</name>
        <label>MateriasEsperaSeleccionadas</label>
        <locationX>182</locationX>
        <locationY>4574</locationY>
        <assignmentItems>
            <assignToReference>MateriasEsperaSeleccionadasTabla</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MateriasSeleccionadasTablaCupo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reasignar_contador_a_cero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reasignar_contador_a_cero</name>
        <label>Reasignar contador a cero</label>
        <locationX>182</locationX>
        <locationY>4682</locationY>
        <assignmentItems>
            <assignToReference>countGruposCargados</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_contador_espera_materias_seleccionadas</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Materias aun con cupo para inscribirse (solamente se filtra por cupo)</description>
        <name>MateriasDisponibles</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>MateriasDisponibles</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNextValueToReference>currentItem_MateriasDisponibles</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>MultipleMaterias</collectionReference>
        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_MateriasDisponibles.Estudiantes_en_espera__c</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <elementReference>currentItem_MateriasDisponibles.Limite_Estudiantes__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_MateriasDisponibles.Estudiantes_en_grupo__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_MateriasDisponibles.Estudiantes_en_grupo__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>currentItem_MateriasDisponibles.Limite_Estudiantes__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Usuario_tiene_grupos</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>MateriasEnEspera</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>MateriasEnEspera</label>
        <locationX>182</locationX>
        <locationY>2474</locationY>
        <assignNextValueToReference>currentItem_MateriasEnEspera</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>MultipleMaterias</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_MateriasEnEspera.Estudiantes_en_grupo__c</leftValueReference>
            <operator>GreaterThanOrEqualTo</operator>
            <rightValue>
                <elementReference>currentItem_MateriasEnEspera.Limite_Estudiantes__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_MateriasEnEspera.Estudiantes_en_grupo__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>currentItem_MateriasEnEspera.Limite_Estudiantes__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Tiene_Listas</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Estudiante_cargo_listas</name>
        <label>Estudiante cargo listas</label>
        <locationX>182</locationX>
        <locationY>5090</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SI_cargo_listas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countGruposCargados</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_carga_listas_nuevas</targetReference>
            </connector>
            <label>SI cargo listas</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estudiante_inscrito_en_lista_espera</name>
        <label>Estudiante inscrito en lista espera</label>
        <locationX>578</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>Asignar_Materias_Repetidas_Listas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SI_est_inscrito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_materias_en_en_espera.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Listas_Espera_Actuales_Estudiante.Materia__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_listas_estudiante</targetReference>
            </connector>
            <label>NO está inscrito</label>
        </rules>
    </decisions>
    <decisions>
        <name>Estudiate_Cargo_Grupos</name>
        <label>Estudiate Cargo Grupos</label>
        <locationX>182</locationX>
        <locationY>4082</locationY>
        <defaultConnector>
            <targetReference>MateriasEsperaSeleccionadas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SI_cargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countGruposCargados</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Carga_Grupos_Nuevos</targetReference>
            </connector>
            <label>SI cargo</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validación donde se ve si el usuario si tiene listas asociadas o no</description>
        <name>Tiene_Listas</name>
        <label>Tiene Listas</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Asignacion_materias_en_espera</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SI_tiene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContadorListas</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_materias_en_en_espera</targetReference>
            </connector>
            <label>SI tiene</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_inscrito_en_materia</name>
        <label>Estudiante inscrito en materia</label>
        <locationX>578</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Asignar_Grupos_Duplicados</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Estudiante_NO_esta_inscrito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Materias_Disponibles.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Grupos_Estudiante.Materia__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Grupos_Estudiante</targetReference>
            </connector>
            <label>Estudiante NO esta inscrito</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_tiene_grupos</name>
        <label>Estudiante tiene grupos</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Asignar_materias_final</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SI_tiene_grupos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contadorGruposInicialVar</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Materias_Disponibles</targetReference>
            </connector>
            <label>SI tiene grupos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cargar Materias {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cargar Materias</label>
    <loops>
        <description>Loop a través de las lista de espera en las que ya se encuentra el estudiante al inicio del flujo</description>
        <name>Listas_Espera_Actuales_Estudiante</name>
        <label>Listas Espera Actuales Estudiante</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <collectionReference>ListasEsperaEstudiante</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aumentar_contador_listas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MateriasEnEspera</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Carga_Grupos_Nuevos</name>
        <label>Loop Carga Grupos Nuevos</label>
        <locationX>74</locationX>
        <locationY>4190</locationY>
        <collectionReference>MateriasSeleccionadasTablaCupo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Creacion_nuevos_grupos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MateriasEsperaSeleccionadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_carga_listas_nuevas</name>
        <label>Loop carga listas nuevas</label>
        <locationX>50</locationX>
        <locationY>5198</locationY>
        <collectionReference>MateriasEsperaSeleccionadasTabla</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Crear_Nuevas_Listas</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Loop para aumentar el contador de las materias con lista de espera seleccionadas por el estudiante</description>
        <name>Loop_contador_espera_materias_seleccionadas</name>
        <label>Loop contador espera materias seleccionadas</label>
        <locationX>182</locationX>
        <locationY>4790</locationY>
        <collectionReference>MateriasEsperaSeleccionadasTabla</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aumento_contador_listas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Estudiante_cargo_listas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop para aumentar el contador de las materias con cupo seleccionadas</description>
        <name>Loop_contador_materias_cupo_seleccionadas</name>
        <label>Loop contador materias cupo seleccionadas</label>
        <locationX>182</locationX>
        <locationY>3782</locationY>
        <collectionReference>MateriasSeleccionadasTablaCupo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aumento_contador_grupos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Estudiate_Cargo_Grupos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop solamente para aumentar el contador de grupos, para ver si regreso mas de un grupo</description>
        <name>Loop_contar_grupos</name>
        <label>Loop contar grupos</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Grupos_Estudiante</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aumentar_Contador</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Grupos_Estudiante</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Grupos_Estudiante</name>
        <label>Loop Grupos Estudiante</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <collectionReference>gruposEstudianteVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Usuario_inscrito_en_materia</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Materias_Disponibles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop a través de las listas dentro de las que ya se encuentra el estudiante</description>
        <name>Loop_listas_estudiante</name>
        <label>Loop listas estudiante</label>
        <locationX>402</locationX>
        <locationY>2798</locationY>
        <collectionReference>ListasEsperaEstudiante</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Estudiante_inscrito_en_lista_espera</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_materias_en_en_espera</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Materias_Disponibles</name>
        <label>Loop Materias Disponibles</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <collectionReference>MateriasDisponibles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Grupos_Estudiante</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asignar_materias_finales</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop a través de las materias en espera (en general) disponibles (no considerando las que ya tiene el estudiante)</description>
        <name>Loop_materias_en_en_espera</name>
        <label>Loop materias en en espera</label>
        <locationX>50</locationX>
        <locationY>2690</locationY>
        <collectionReference>MateriasEnEspera</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_listas_estudiante</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Listas_Espera_Finales</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Creacion_nuevos_grupos</name>
        <label>Creacion nuevos grupos</label>
        <locationX>162</locationX>
        <locationY>4298</locationY>
        <connector>
            <targetReference>Loop_Carga_Grupos_Nuevos</targetReference>
        </connector>
        <inputAssignments>
            <field>Estudiante__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Materia__c</field>
            <value>
                <elementReference>Loop_Carga_Grupos_Nuevos.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Grupo_Estudiantes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Nuevas_Listas</name>
        <label>Crear Nuevas Listas</label>
        <locationX>138</locationX>
        <locationY>5306</locationY>
        <connector>
            <targetReference>Loop_carga_listas_nuevas</targetReference>
        </connector>
        <inputAssignments>
            <field>Estudiante__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Materia__c</field>
            <value>
                <elementReference>Loop_carga_listas_nuevas.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Lista_Espera__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Grupos_Estudiante</name>
        <label>Get Grupos Estudiante</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_contar_grupos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estudiante__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Grupo_Estudiantes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Listas_Estudiante</name>
        <label>Get Listas Estudiante</label>
        <locationX>182</locationX>
        <locationY>1958</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Listas_Espera_Estudiante</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estudiante__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lista_Espera__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Retrieve_multiple_Materias</name>
        <label>Retrieve multiple Materias</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignMultipleMaterias</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Materia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cargar_Materias</name>
        <label>Cargar Materias</label>
        <locationX>182</locationX>
        <locationY>3566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>MateriasCupoSeleccionadas</targetReference>
        </connector>
        <fields>
            <name>Cargar_Materias_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cargar_Materias_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MateriasConDisponibilidad</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Materia__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Materias con cupo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>MateriasEstudianteFiltradoFinalFinal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a129&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Materia Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Descripcion__c&quot;,&quot;guid&quot;:&quot;column-0fe5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Descripcion&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Estudiantes_en_grupo__c&quot;,&quot;guid&quot;:&quot;column-9d3a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Estudiantes en grupo&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Limite_Estudiantes__c&quot;,&quot;guid&quot;:&quot;column-737b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Limite Estudiantes&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-4dae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cargar_Materias_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MateriasSeleccionadasCupo</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Materia__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Materias con cupo seleccionadas</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>MateriasConDisponibilidad.selectedRows</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-2327&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Materia Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Descripcion__c&quot;,&quot;guid&quot;:&quot;column-fde3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Descripcion&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cargar_Materias_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cargar_Materias_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MateriasSinDisponibilidad</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Materia__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Materias con lista de espera</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>MateriasEsperaEstudianteFinal</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c9e3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Materia Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Descripcion__c&quot;,&quot;guid&quot;:&quot;column-e5e4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Descripcion&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Estudiantes_en_espera__c&quot;,&quot;guid&quot;:&quot;column-8647&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Estudiantes en espera&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cargar_Materias_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MateriasSeleccionadasEspera</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Materia__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Materias para ingresar a la lista de espera</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>MateriasSinDisponibilidad.selectedRows</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-b313&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Materia Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Descripcion__c&quot;,&quot;guid&quot;:&quot;column-ac35&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Descripcion&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MostrarNombresitoUser</name>
            <fieldText>&lt;p&gt;{!EstudianteFlujo.Name} es mi nombre&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cargar materias</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Grupos_Estudiante</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>contadorGruposInicialVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Contador para ver cuantas listas de espera tiene el usuario actualmente</description>
        <name>ContadorListas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Contador para los grupos cargados por el estudiante</description>
        <name>countGruposCargados</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_3_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>currentItem_gruposFiltrado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grupo_Estudiantes__c</objectType>
    </variables>
    <variables>
        <name>currentItem_MateriasDisponibles</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>currentItem_MateriasEnEspera</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grupo_Estudiantes__c</objectType>
    </variables>
    <variables>
        <name>EliminarDuplicadosGrupos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>EliminarMateriasRepetidasListas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <description>Variable del estudiante que está cargando las materias, será utilizado a lo largo del flujo</description>
        <name>EstudianteFlujo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Grupos nuevos a los que se inscribirá el usuario</description>
        <name>GruposCupoNuevos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grupo_Estudiantes__c</objectType>
    </variables>
    <variables>
        <name>gruposEstudianteVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grupo_Estudiantes__c</objectType>
    </variables>
    <variables>
        <name>gruposMateriasVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grupo_Estudiantes__c</objectType>
    </variables>
    <variables>
        <description>Listas de espera dentro de las cuales ya se encuentra el estudiante</description>
        <name>ListasEsperaEstudiante</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lista_Espera__c</objectType>
    </variables>
    <variables>
        <name>materiasDisponiblesCupoEstudianteFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <description>Materias que el estudiante podrá ver dentro de sus listas de espera disponibles a inscribirse</description>
        <name>MateriasEsperaEstudianteFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>MateriasEsperaSeleccionadasTabla</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>MateriasEstudianteFiltradoFinalFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>MateriasEstudianteFiltradoFinalTemporal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <description>Materias del usuario dentro de las que no se encuentra en lista, servirá como variable temporal solamente</description>
        <name>MateriasEstudianteNoEnListaFiltradoTemporal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>MateriasSeleccionadasTablaCupo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>MultipleMaterias</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <description>Contador del numero de materias en lista de espera seleccionadas por el estudiante</description>
        <name>numMateriasEsperaSeleccionadas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Sirve para realizar la comparacion de las materias repetidas en el collection final de materias disponibles para el usuario</description>
        <name>previousMateriaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previousMateriaNoEnLista</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SortMateriasDisponiblesNoEnroladasEstudiante</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
</Flow>
