force-app/main/default/flows/Notificar_Lista_de_Espera.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>mandarNotificacionCupo</name>
        <label>mandarNotificacionCupo</label>
        <locationX>176</locationX>
        <locationY>1211</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>estudiante_a_mandar_correo.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00Xaj0000037PZR</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>asignarEstudianteNotificar</name>
        <label>asignarEstudianteNotificar</label>
        <locationX>264</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>estudiante.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.Estudiante__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Recuperar grupo eliminado</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>grupoEliminado.Materia__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Materia__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecuperarMateria</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ObtenerPrimeraLista</name>
        <label>ObtenerPrimeraLista</label>
        <locationX>396</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ListaMasVieja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>LatestStudentCreation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignarEstudianteNotificar</targetReference>
            </connector>
            <label>ListaMasVieja</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>notificar_lista_de_espera {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificar Lista de Espera</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>176</locationX>
        <locationY>611</locationY>
        <collectionReference>lista_de_espera</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ObtenerPrimeraLista</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>estudiante_a_mandar_correo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>estudiante_a_mandar_correo</name>
        <label>estudiante_a_mandar_correo</label>
        <locationX>176</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mandarNotificacionCupo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>estudiante.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>lista_de_espera</name>
        <label>lista_de_espera</label>
        <locationX>176</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Materia__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecuperarMateria.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lista_Espera__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecuperarMateria</name>
        <label>RecuperarMateria</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lista_de_espera</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>grupoEliminado.Materia__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Materia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <object>Grupo_Estudiantes__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lista_Espera__c</objectType>
    </variables>
    <variables>
        <name>estudiante</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>grupoEliminado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grupo_Estudiantes__c</objectType>
    </variables>
    <variables>
        <name>LatestStudentCreation</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>materia</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
</Flow>
