force-app/main/default/flows/Solicitar_Eliminacion_De_Grupo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Asignar_Grupos_Estudiante</name>
        <label>Asignar Grupos Estudiante</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>GruposEstudianteVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_grupos_estudiante</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtener_Materias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_Materias</name>
        <label>Asignar Materias</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>MateriasEstudiante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_Materias</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>eliminar_materias_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Aumentar_Contador</name>
        <label>Aumentar Contador</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ContadorGruposEstudiante</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contar_Grupos_Estudiante</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grupos_Seleccionados</name>
        <label>Grupos Seleccionados</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>MateriasSeleccionadas</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tabla_Grupos_Estudiante.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JustifiacionSolicitud</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MotivosSolicitudBajaGrupo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Crear_Solicitud</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Grupos Estudiante {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solicitar Eliminación De Grupo</label>
    <loops>
        <name>Contar_Grupos_Estudiante</name>
        <label>Contar Grupos Estudiante</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_grupos_estudiante</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Aumentar_Contador</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Asignar_Grupos_Estudiante</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Solicitud</name>
        <label>Crear Solicitud</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>JustifiacionSolicitud</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solicitudes_Baja__c</field>
            <value>
                <elementReference>Tabla_Grupos_Estudiante.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_grupos_estudiante</name>
        <label>Get Grupos Estudiante</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contar_Grupos_Estudiante</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estudiante__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Grupo_Estudiantes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Materias</name>
        <label>Obtener Materias</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_Materias</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Materia__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>eliminar_materias_screen</name>
        <label>eliminar materias screen</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Grupos_Seleccionados</targetReference>
        </connector>
        <fields>
            <name>Tabla_Grupos_Estudiante</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Grupo_Estudiantes__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mis grupos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GruposEstudianteVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Materia__c&quot;,&quot;guid&quot;:&quot;column-b086&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Materia&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8007&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Grupo&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Grupo Estudiantes Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>MotivosSolicitudBajaGrupo</name>
            <fieldText>Escribe el por qué deseas solicitar tu baja</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_grupos_estudiante</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContadorGruposEstudiante</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GruposEstudianteVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grupo_Estudiantes__c</objectType>
    </variables>
    <variables>
        <name>JustifiacionSolicitud</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MateriasEstudiante</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Materia__c</objectType>
    </variables>
    <variables>
        <name>MateriasSeleccionadas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Grupo_Estudiantes__c</objectType>
    </variables>
</Flow>
